.form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    margin: 0 auto;
    background-color: white;
}

@media(max-width: 767px) {
    .form {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }
}

.form__input {
    flex-basis: 80%;
    border: 1px solid #eee;
    padding: 10px;
}

.form__inputButton {
    border: 0;
    padding: 10px;
    color: white;
    background-color: teal;
    cursor: pointer;
}

.form__inputButton:hover {
    background-color: rgba(0, 128, 128, 0.85);
}