html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    max-width: 900px;
    margin: 0 auto;
    background: lightgrey;
    color: #242d35;
    font-family: "Montserrat", sans-serif;
}




