.taskList {
    min-height: 50px;
    list-style-type: none;
    padding: 15px;
    margin: 0 auto;
    background-color: white;
}

.taskList__item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 2px solid #e1e1e1;
}

.taskList__span {
    flex-basis: 90%;
    padding: 5px;
    word-break: break-all;
}

.taskList__span--done {
    text-decoration: line-through;
}

.taskList__button {
    border: none;
    margin: 0 auto;
    width: 30px;
    height: 30px;
    color: white;
    cursor: pointer;
}

.taskList__button--done {
    background-color: green;
}

.taskList__button--done:active {
    border: 1px solid black;
    border-radius: 2px;
}

.taskList__button--remove {
    background-color: crimson;
}

.taskList__button--remove:active {
    border: 1px solid black;
    border-radius: 1px;
}